.parceiros {
    padding-top: 60px;
    padding-bottom: 120px;
}

.parceiros h2 {
    margin-bottom: 60px;
}

.parceiros ul {
    padding: 0 20px;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
}

.parceiros li {
    display: flex;
    padding: 32px;
    border-left: 2px solid var(--cor-2); /* cria as linhas */

}

/* alinhando ao centro */
.parceiros img {
    margin: auto;
}

/* Tira as linhas da lateral do 1ยบ e 5ยบ item */
.parceiros li:first-child, .parceiros li:nth-child(5) {
    border-left: none;
}

/* adicionando linha a partir do 5 item */
.parceiros li:nth-child(n + 5) {
    border-top: 2px solid var(--cor-2);
}

@media (max-width: 800px) {
    .parceiros {
        padding-bottom: 60px;
    }

    .parceiros h2{
        margin-bottom: 20px;
    }

    .parceiros ul {
        grid-template-columns: repeat(2, 1fr);
    }

    .parceiros li:nth-child(n + 3) {
    border-top: 2px solid var(--cor-2);
    }

    .parceiros li:nth-child(odd) {
        border-left: none;
    }
}